:root {
  --background-color: #f5e6db;
  --word-box: #a5a5a5;
  --btn-border-color: #fb3501;
}

.App {
  background: var(--background-color);
  padding: 20px;
}
.App-header {
  margin-top: 30px;
}

.App-logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 20px;
}

.App-btn {
  border-color: var(--btn-border-color);
}
