:root {
  --background-color: #f5e6db;
  --word-box: #a5a5a5;
  --btn-border-color: #fb3501;
}

.Phonetic {
  height: 60px;
}
.Phonetic a {
  font-size: 16px;
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  margin-right: 20px;
}

.Phonetic a:hover {
  background: var(--btn-border-color);
  color: white;
}
